<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<Appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=white, DEBUG=green bold, TRACE=blue}"/>
    </Console>
    <RollingFile name="TextFile" fileName="target/logs/app.log"
                 filePattern="target/logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
        <PatternLayout>
            <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
        </PatternLayout>
        <Policies>
            <TimeBasedTriggeringPolicy/>
            <SizeBasedTriggeringPolicy size="10 MB"/>
        </Policies>
    </RollingFile>
    <RollingFile name="HTMLFile" fileName="target/logs/index.html"
                 filePattern="target/logs/app-info-%d{yyyy-MM-dd}.html">
        <HTMLLayout charset="UTF-8" title="FileShare Server Logs" locationInfo="true" />
        <Policies>
            <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            <SizeBasedTriggeringPolicy size="10 MB" />
        </Policies>
    </RollingFile>
</Appenders>
<Loggers>
    <Root level="all">
        <AppenderRef ref="Console"/>
        <AppenderRef ref="TextFile"/>
        <AppenderRef ref="HTMLFile"/>
    </Root>
</Loggers>
</Configuration>

