.button{
    -fx-font-family: "Montserrat";
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.text-field{
    -fx-font-family: "Montserrat";
    -fx-font-weight: bold;
    -fx-text-fill: gray;
}

.label{
    -fx-font-family: "Montserrat";
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#tableRow{
    -fx-background-color: #1a2338;
}

#notificationLabel{
    -fx-font-size: 8pt;
}


#deleteRowButton{
    -fx-border-radius: 100 100 100 100;
    -fx-background-radius: 100 100 100 100;
}


#deleteRowButton{
    -fx-background-color: #da504a;
}

#deleteRowButton:hover{
    -fx-background-color: linear-gradient(#ea5e5e,#da504a);
    -fx-effect: dropshadow(three-pass-box , #000000 , 0 , 0.0 , 0 , 0);
}
